body{
text-align: center;
font-family: Century Gothic;
font-size: 24px;
background-color: #EDA1B5;
color: white;
cursor: url(http://ani.cursors-4u.net/nature/nat-11/nat1053.cur), auto;
}
li{
	
	font-family: Century Gothic;
	font-size: 24px;
}
h{
	
	font-family: Century Gothic;
	font-size: 30px;
}
h1{
	
	font-family: Century Gothic;
	color: #FF0000;
}
p{
	color: white;
	margin-left: 400px;
	margin-right:400px;
}
button{
	background-color: #FFFDFF;
	size: 40px;
	font-family: Century Gothic;
}
marquee{
	color: white;
	font-size: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #473FB8;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #8D7DBA;
}
